/* style sheet for the fun page */

#main-container {
	padding: 45px 0px 0px 0px; /* padding top for navigator bar */
	border: 1px solid red;
	height: 500px; /* remove this when done */
}


.col-md-10 {
	border: 2px solid lime;
}

.carousel-bar {
	border: 1px solid blue;
	height: 100%;
	text-align: center;
}

.carousel-bar:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.carousel-bar .carousel-arrow {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid red;
}