/* style sheet for the fun page */

#main-container {
	padding: 45px 0px 0px 0px; /* padding top for navigator bar */
}

.carousel-bar {
	text-align: center;
	padding: 0px;
	border: 1px solid red;
}


.carousel-bar:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.carousel-bar .carousel-arrow {
	display: inline-block;
	vertical-align: middle;
	color: rgb(180,180,180);
}

.carousel-bar .carousel-arrow:hover {
	color: rgb(255,180,180);
}

#div-middle {
	height: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}

#div-middle-top {
	display: flex;
	align-items: center;
	justify-content:center;
	border: 2px solid blue;
	width: 100%;
}

#div-middle-bottom {
	width: 100%;
	border: 2px dashed olive;
}

#div-container {

}
