/* header style */
.navbar-custom {
	background-color: #333333;
}

.navbar-custom .navbar-brand {
	color: #FFFFFF;
}

.navbar-custom .navbar-brand:hover {
    background-color: #CD5C5C;
	color: #FFFFFF;
}
#navbar .navbar-effective a {
	color: #FFFFFF;
	font-size: 1.2em;
}
.navbar-custom .navbar-effective:hover {
    background-color: #CD5C5C;
}

#google-plusone {
	padding-top:12px;
	padding-left: 15px;
}

/* body style */
#main-body {
	font-size: 18px;
}

/* footer style */

footer {
    background-color: #333333;
	padding-top: 25px;
}

footer .container {
	height: 250px;
}


footer #div-share {
	margin: auto;
	width: 295px;
}

footer #div-share span {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	padding-top: 11px;
	background-color: #222222;
	margin: 10px;
}

footer #div-share a {
	color: #BBBBBB;
}

footer #div-share .span-good {
	padding-left: 12px;	
}

footer #div-share .span-google {
	padding-left: 8px;
}

footer #div-share .span-fb {
	padding-left: 17px;
}

footer #div-copyright {
	text-align: center;
	background-color: #333333;
	color: gray;
	padding-bottom: 10px;
}




footer .btn_share{
    color: gray;
}


