footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer .col-xs-4 {
  display: flex;
  justify-content: flex-end;
    float: right;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 16px;
  height: 16px;
}
