---
# Tic Tac Toe style file
---
$color: #2194E0;

#div-TicTacToe {
	display: inline-block;
	border: 1px solid green;
	vertical-align: top;
	cursor: pointer;
}

.div-Canvas-Blur {
	filter: blur(5px);
}

#div-control {
	height: 450px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
}

#div-control-flex {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px dashed red;
}

.div-TTTButton {
	width: 220px;
	height: 70px;
	line-height: 70px;
	font-size: 24px;
	font-weight: 800;
	border-radius: 0.5em;
	transition: all 0.6s;
	overflow: hidden;
	position: relative;
	background-color: #DCDCDC;
	border: 0.5px solid gray;

	.span-TTTButton {
		position: relative;
		left: 70px;
	}

	&:focus{
    	outline: 0;
  	}
	&:before {
	    content: "";
	    background-color: rgba(255,255,255,0.5);
	    height: 100%;
	    width: 60px;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: -250px;
		filter: blur(30px);
	    transform: translateX(-100px)  skewX(-15deg);
		opacity: 0.5;
	}
	&:after{
	    content: '';
	    display: block;
	    position: absolute;
	    background: rgba(255,255,255,0.2);
	    width: 30px;
	    height: 100%;
	    left: 30px;
	    top: 0;
	    opacity: 0;
	    filter: blur(5px);
	    transform: translateX(-100px) skewX(-15deg);
	 }
}


@mixin svg-TTTButton {
	width: 48px;
	height: 48px;
	fill: #FFFFFF;
	stroke-width: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	transition: all 0.6s;
}

@mixin div-button-hover {
	cursor: pointer;
	background-color: $color;
	color: #fff;
	&:before {
		transform: skewX(-15deg) translateX(500px);
		opacity: 0.6;
		transition: all 0.7s;
	}
	&:after{
      transform: translateX(500px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
}

#div-xbutton {
	svg {
		@include svg-TTTButton;
		stroke: #FF8484;
		fill: #FF8484;
	}
}

.div-obutton {
	svg {
		@include svg-TTTButton;
		stroke: #FFDBB7;
		fill: #DCDCDC;
	}
}

#div-restart {
	&:hover {
		@include div-button-hover;
	}
}

.div-button-active {
	@include div-button-hover;
	svg {
		fill: $color;
	}
}

.TTTCanvas {
	border: 2px solid blue;
	width: 450px;
	height: 450px;
	pointer-events: none;
}
