#div-TicTacToe {
	display: inline-block;
	border: 1px solid green;
	vertical-align: top;
}

#div-control {
	height: 450px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
}

#div-control-flex {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px dashed red;
}

.div-TTTButton {
	border: 2px solid blue;
	width: 200px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	font-weight: 800;
}

.img-TTTButton {
	margin: 0px 0px 5px 10px; 
	height: 48px;
	width: 48px;
}
.TTTCanvas {
	border: 2px solid blue;
	width: 450px;
	height: 450px;
	pointer-events: none;
}

