<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


		<meta property="og:title" content="Hongchuan's web" />
		<meta property="og:image" content="imgs/favicon-16x16" />
		<meta property="og:description" content="Pen pineapple pineapple" />

		<title>{{ page.title }}</title>


		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- google application js -->
		<script src="https://apis.google.com/js/platform.js" async defer></script>

		<!-- font awesome icon -->
		<script src="https://use.fontawesome.com/be119254ee.js"></script>

		<!-- academic icon -->
		<link rel="stylesheet" href="css/academicons.css"/>

		<!-- Custom javascript -->
		<script src="main.js"></script>

		<!-- Custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css"/>

		<!-- favicon -->
		<link rel="icon" type="image/png" href="imgs/favicon-16x16.png" sizes="16x16" />

	</head>


	<body>

		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" 
							data-toggle="collapse" data-target="#navbar" 
							aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
						<div class="icon-bar"></div>
					</button>
					<a id="a_nav_header" class="navbar-brand" href="index.html">
						<i class="fa fa-user-circle" id="i_home"></i>
						Home
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						<li class="navbar-li navbar-effective">
							<a href="publications.html" id="a_nav_publications">Publications</a>
						</li>
						<li class="navbar-li">
							<a href="#contact">Projects</a>
						</li>
						<li class="navbar-li navbar-effective">
							<a href="fun.html">Fun</a>
						</li>
						<li class="navbar-li">
							<a href="#">My Cats</a>
						</li>
						<li class="navbar-li">
							<a href="#" id="a_nav_jenny">Jenny's Art Work</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<div id="google-plusone">
							<div class="g-plusone" data-size="standard" data-href="http://hongchuanwei.com"></div>
						</div>
					</ul>
				</div>
			</div>
		</nav>
		<!-- page content -->

		<div id="main-body">
		  {{ content }}
		</div>
		
		<!-- Site footer -->
		<footer class="container-fluid">
			<div class="container">
				<div id="div-share">
					<a id="a_weibo" target="_blank">
						<span class="span-good"> 
							<i class="fa fa-weibo fa-2x"></i>
						</span>
					</a>
					<a id="a_twitter" target="_blank">
						<span class="span-good"> 
							<i class="fa fa-twitter fa-2x"></i> 
						</span>
					</a>
					<a id="a_google_plus" target="_blank">
						<span class="span-google"> 
							<i class="fa fa-google-plus fa-2x"></i> 
						</span>
					</a>

					<a id="a_facebook" target="_blank">
						<span class="span-fb"> 
							<i class="fa fa-facebook fa-2x"></i> 
						</span>
					</a>
				</div>
				<div class="row">
					<div class="col-md-7 col-sm-4 col-xs-3"></div>
					<div class="col-md-2 col-sm-4 col-xs-4 div-share">
					
					</div>
					<div class="col-md-2 col-sm-4 col-xs-5">

					</div>
				</div>
			</div>
			<div class="row" id="div-copyright">
				&copy; 2016-2017 Hongchuan Wei
			</div>
		</footer>
	</body>


</html>

