---
# Gomoku style file
---



#div-Gomoku {
    margin-top: 5px;
    border: 1px solid red;
}

.GomokuBoardBackground {
    fill: #FF9b3B;
}

.GomokuBoardLine {
    stroke: black;
    stroke-width: 1px;
}

.GomokuBoardBoarder {
    stroke: black;
    stroke-width: 4px;
    fill: none;
}

.GomokuBoardDot {
    stroke: black;
    fill: black;
}

.GomokuPieceBlackHidden {
    cursor: pointer;
    fill: black;
    fill-opacity: 0;
    &:hover {
        fill-opacity: 0.25;
    }
}

.GomokuPieceWhiteHidden {
    cursor: pointer;
    fill: white;
    fill-opacity: 0;
    &:hover {
        fill-opacity: 0.25;
    }
}

.GomokuPieceBlack {
    fill: #262626;
}

.GomokuPieceWhite {
    fill: #F5F5F5;
}

.GomokuPieceCurrent {
    stroke: #00BFFE;
    stroke-width: 2px;
    shape-rendering: auto;
}


// Gomoku control styles
#div-Gomoku-control {
}
